{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "settings": {
    "import": {
      "parsers": {
        "@typescript-eslint/parser": [".ts", ".tsx"]
      },
      "resolver": {
        "typescript": true
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@figma/figma-plugins/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-shadow": 2,
    "import/order": [
      1,
      {
        "alphabetize": {
          "order": "asc"
        },
        "newlines-between": "always",
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "{.,..,../..}/**/type{s,Primitives}",
            "group": "type",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ],
    "import/no-unresolved": [2, { "ignore": ["tsd"] }],
    "prettier/prettier": 1,
    "react/jsx-fragments": [1, "syntax"],
    "react/destructuring-assignment": [1, "always"],
    "react/function-component-definition": [1, { "namedComponents": "arrow-function" }],
    "react/jsx-sort-props": [
      1,
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "ignoreCase": true,
        "reservedFirst": true
      }
    ]
  }
}
